---
---

@import "reset";
@import "svg-icons";
@import url('https://fonts.googleapis.com/css?family=Archivo:400|Red+Hat+Display:500');

// Typography

html {font-size: 100%;} /*16px*/

body {
  background: #5E4A96;
  font-family: 'Archivo', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #D4DDE0;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 1.802rem;
}

h2 {font-size: 1.602rem;}

h3 {font-size: 1.424rem;}

h4 {font-size: 1.266rem;}

h5 {font-size: 1.125rem;}

small, .text_small {font-size: 0.889rem;}

// Layout

img {max-width: 100%}

header {
  background: #D4DDE0;
  margin-bottom: 3rem;
  .container {
    display: flex;
    height: 3rem; 
    align-items: center;

  }

  nav {
    flex-grow: 1;
    padding-left: 2rem;

    ul {
      display: flex;
      justify-content: space-between;
    }
  }

  a, a:visited {
    color: #2F3506;
    text-decoration: none;
  }

  nav li.current a {
    text-decoration: underline;
  }
}

.container {
  margin: 0 1.25rem;
}

.portrait {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  overflow: hidden;
  transform: translateX(-20%);
  margin-bottom: 2rem;
}